<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Library Books System</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage Publications<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Details</a></li>
                        <li><a href="/catalogueuob">UOB rewards catalogue</a></li>
                        <li><a href="#">Testing</a></li>
                        <li><a href="#">View</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Rewards<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                            <li><a href="/alldecredemption">Redemption History</a></li>
                            <li><a href="/catalogueuob">UOB Catalogue</a></li>
                            <li><a href="/cataloguedbs">DBS Catalogue</a></li>
                            <li><a href="/catalogueocbc">OCBC Catalogue</a></li>
                        </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if not session.logged_in %}
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/views">Views</a></li>
                    <li><a href="/login">Login</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
